// ----------------------------------------------------------------------------
// cottoncandy light-mode syntax theme
// ----------------------------------------------------------------------------
$light-syntax-comment-hashbang: #f0f7f6;
$light-syntax-comment-multiline: #f0f7f6;
$light-syntax-comment-preproc: #f0f7f6;
$light-syntax-comment-preprocfile: #f0f7f6;
$light-syntax-comment-single: #f0f7f6;
$light-syntax-comment-special: #f0f7f6;
$light-syntax-comment: #f0f7f6;
$light-syntax-container-color: #062f38;
$light-syntax-error: #f0f7f6;
$light-syntax-generic-deleted: #f0f7f6;
$light-syntax-generic-emph: #f0f7f6;
$light-syntax-generic-error: #f0f7f6;
$light-syntax-generic-heading: #f0f7f6;
$light-syntax-generic-inserted: #f0f7f6;
$light-syntax-generic-output: #f0f7f6;
$light-syntax-generic-prompt: #f0f7f6;
$light-syntax-generic-strong: #f0f7f6;
$light-syntax-generic-subheading: #f0f7f6;
$light-syntax-generic-traceback: #f0f7f6;
$light-syntax-highlight-line: #22c8e9;
$light-syntax-keyword-constant: #f0f7f6;
$light-syntax-keyword-declaration: #f0f7f6;
$light-syntax-keyword-namespace: #f0f7f6;
$light-syntax-keyword-pseudo: #f0f7f6;
$light-syntax-keyword-reserved: #f0f7f6;
$light-syntax-keyword-type: #f0f7f6;
$light-syntax-keyword: #f0f7f6;
$light-syntax-literal-date: #f0f7f6;
$light-syntax-literal: #f0f7f6;
$light-syntax-name-attribute: #f0f7f6;
$light-syntax-name-builtin-pseudo: #f0f7f6;
$light-syntax-name-builtin: #f0f7f6;
$light-syntax-name-class: #f0f7f6;
$light-syntax-name-constant: #f0f7f6;
$light-syntax-name-decorator: #f0f7f6;
$light-syntax-name-entity: #f0f7f6;
$light-syntax-name-exception: #f0f7f6;
$light-syntax-name-function-magic: #f0f7f6;
$light-syntax-name-function: #f0f7f6;
$light-syntax-name-label: #f0f7f6;
$light-syntax-name-namespace: #f0f7f6;
$light-syntax-name-other: #f0f7f6;
$light-syntax-name-property: #f0f7f6;
$light-syntax-name-tag: #f0f7f6;
$light-syntax-name-variable-class: #f0f7f6;
$light-syntax-name-variable-global: #f0f7f6;
$light-syntax-name-variable-instance: #f0f7f6;
$light-syntax-name-variable-magic: #f0f7f6;
$light-syntax-name-variable: #f0f7f6;
$light-syntax-name: #f0f7f6;
$light-syntax-number-bin: #f0f7f6;
$light-syntax-number-float: #f0f7f6;
$light-syntax-number-hex: #f0f7f6;
$light-syntax-number-integer-long: #f0f7f6;
$light-syntax-number-integer: #f0f7f6;
$light-syntax-number-oct: #f0f7f6;
$light-syntax-number: #f0f7f6;
$light-syntax-operator-word: #f0f7f6;
$light-syntax-operator: #f0f7f6;
$light-syntax-punctuation: #f0f7f6;
$light-syntax-string-affix: #f0f7f6;
$light-syntax-string-backtick: #f0f7f6;
$light-syntax-string-char: #f0f7f6;
$light-syntax-string-delimiter: #f0f7f6;
$light-syntax-string-doc: #f0f7f6;
$light-syntax-string-double: #f0f7f6;
$light-syntax-string-escape: #f0f7f6;
$light-syntax-string-heredoc: #f0f7f6;
$light-syntax-string-interpol: #f0f7f6;
$light-syntax-string-other: #f0f7f6;
$light-syntax-string-regex: #f0f7f6;
$light-syntax-string-single: #f0f7f6;
$light-syntax-string-symbol: #f0f7f6;
$light-syntax-string: #f0f7f6;
$light-syntax-text-whitespace: #f0f7f6;
$light-syntax-text: #f0f7f6;
// ----------------------------------------------------------------------------
// cottoncandy dark-mode syntax theme
// ----------------------------------------------------------------------------
$dark-syntax-comment-hashbang: #f0f7f6;
$dark-syntax-comment-multiline: #f0f7f6;
$dark-syntax-comment-preproc: #f0f7f6;
$dark-syntax-comment-preprocfile: #f0f7f6;
$dark-syntax-comment-single: #f0f7f6;
$dark-syntax-comment-special: #f0f7f6;
$dark-syntax-comment: #f0f7f6;
$dark-syntax-container-color: #8b1852;
$dark-syntax-error: #f0f7f6;
$dark-syntax-generic-deleted: #f0f7f6;
$dark-syntax-generic-emph: #f0f7f6;
$dark-syntax-generic-error: #f0f7f6;
$dark-syntax-generic-heading: #f0f7f6;
$dark-syntax-generic-inserted: #f0f7f6;
$dark-syntax-generic-output: #f0f7f6;
$dark-syntax-generic-prompt: #f0f7f6;
$dark-syntax-generic-strong: #f0f7f6;
$dark-syntax-generic-subheading: #f0f7f6;
$dark-syntax-generic-traceback: #f0f7f6;
$dark-syntax-highlight-line: #da2f85;
$dark-syntax-keyword-constant: #f0f7f6;
$dark-syntax-keyword-declaration: #f0f7f6;
$dark-syntax-keyword-namespace: #f0f7f6;
$dark-syntax-keyword-pseudo: #f0f7f6;
$dark-syntax-keyword-reserved: #f0f7f6;
$dark-syntax-keyword-type: #f0f7f6;
$dark-syntax-keyword: #f0f7f6;
$dark-syntax-literal-date: #f0f7f6;
$dark-syntax-literal: #f0f7f6;
$dark-syntax-name-attribute: #f0f7f6;
$dark-syntax-name-builtin-pseudo: #f0f7f6;
$dark-syntax-name-builtin: #f0f7f6;
$dark-syntax-name-class: #f0f7f6;
$dark-syntax-name-constant: #f0f7f6;
$dark-syntax-name-decorator: #f0f7f6;
$dark-syntax-name-entity: #f0f7f6;
$dark-syntax-name-exception: #f0f7f6;
$dark-syntax-name-function-magic: #f0f7f6;
$dark-syntax-name-function: #f0f7f6;
$dark-syntax-name-label: #f0f7f6;
$dark-syntax-name-namespace: #f0f7f6;
$dark-syntax-name-other: #f0f7f6;
$dark-syntax-name-property: #f0f7f6;
$dark-syntax-name-tag: #f0f7f6;
$dark-syntax-name-variable-class: #f0f7f6;
$dark-syntax-name-variable-global: #f0f7f6;
$dark-syntax-name-variable-instance: #f0f7f6;
$dark-syntax-name-variable-magic: #f0f7f6;
$dark-syntax-name-variable: #f0f7f6;
$dark-syntax-name: #f0f7f6;
$dark-syntax-number-bin: #f0f7f6;
$dark-syntax-number-float: #f0f7f6;
$dark-syntax-number-hex: #f0f7f6;
$dark-syntax-number-integer-long: #f0f7f6;
$dark-syntax-number-integer: #f0f7f6;
$dark-syntax-number-oct: #f0f7f6;
$dark-syntax-number: #f0f7f6;
$dark-syntax-operator-word: #f0f7f6;
$dark-syntax-operator: #f0f7f6;
$dark-syntax-punctuation: #f0f7f6;
$dark-syntax-string-affix: #f0f7f6;
$dark-syntax-string-backtick: #f0f7f6;
$dark-syntax-string-char: #f0f7f6;
$dark-syntax-string-delimiter: #f0f7f6;
$dark-syntax-string-doc: #f0f7f6;
$dark-syntax-string-double: #f0f7f6;
$dark-syntax-string-escape: #f0f7f6;
$dark-syntax-string-heredoc: #f0f7f6;
$dark-syntax-string-interpol: #f0f7f6;
$dark-syntax-string-other: #f0f7f6;
$dark-syntax-string-regex: #f0f7f6;
$dark-syntax-string-single: #f0f7f6;
$dark-syntax-string-symbol: #f0f7f6;
$dark-syntax-string: #f0f7f6;
$dark-syntax-text-whitespace: #f0f7f6;
$dark-syntax-text: #f0f7f6;