{% if page.ext_js.size > 0 %}
{% for js_name in page.ext_js %}
<script src="{{ site.baseurl }}/assets/ext/js/{{ js_name }}.js"></script>
{% endfor %}
{% endif %}
{% if site.data.settings.searchable %}
<script src="{{ site.baseurl }}{{ '/assets/js/lunr/lunr.js' | relative_url }}"></script>
<script src="{{ site.baseurl }}{{ '/assets/js/search.js' | relative_url }}"></script>
<!--<script src="{{ site.baseurl }}{{ '/assets/js/search-new.js' | relative_url }}"></script>-->
{% endif %}
<script src="{{ site.baseurl }}{{ '/assets/js/yolo.js' | relative_url }}"></script>