// ----------------------------------------------------------------------------
// newspaper font-families
// ----------------------------------------------------------------------------
$font-family-primary: "Courier Prime", monospace;
$font-family-secondary: "Poppins", sans-serif;
$font-family-monospace: "Courier Prime", monospace;
// ----------------------------------------------------------------------------
// newspaper light-mode
// ----------------------------------------------------------------------------
// primary colors
$light-primary-color: #e0e0e0;
$light-on-primary-color: #0a0a0a;
$light-primary-container-color: #141414;
$light-on-primary-container-color: #f5f5f5;
// secondary colors
$light-secondary-color: #5c5c5c;
$light-on-secondary-color: #e0e0e0;
$light-secondary-container-color: #e0e0e0;
$light-on-secondary-container-color: #0a0a0a;
// tertiary colors
$light-tertiary-color: #01619d;
$light-on-tertiary-color: #e0e0e0;
// link colors
$light-link-color: #a31958;
// ----------------------------------------------------------------------------
// newspaper dark-mode
// ----------------------------------------------------------------------------
// primary colors
$dark-primary-color: #141414;
$dark-on-primary-color: #e0e0e0;
$dark-primary-container-color: #e0e0e0;
$dark-on-primary-container-color: #0a0a0a;
// secondary colors
$dark-secondary-color: #e0e0e0;
$dark-on-secondary-color: #5c5c5c;
$dark-secondary-container-color: #141414;
$dark-on-secondary-container-color: #e0e0e0;
// tertiary colors
$dark-tertiary-color: #01619d;
$dark-on-tertiary-color: #e0e0e0;
// link colors
$dark-link-color: #a31958;