/*
 * Yummo custom css sample
 */

/*
 * Styles for the "content" of flexbox samples.
 */
.flex-item {
    background-color: #00b3ff;
    width: 3em;
    height: 3em;
    margin: 0.2em;
    border-radius: 0.2em;
}

.flex-item.red {
    background-color: #C12123;
}

.flex-item.blue {
    background-color: #254AB9;
}

.flex-item.yellow {
    background-color: #FEFF20;
}

.flex-item.green {
    background-color: #23C649;
}

.flex-item.white {
    background-color: #CDCDCD;
}

.flex-item.orange {
    background-color: #CE4B23;
}

/*
 * Flexbox row for a rubik's cube like thing on the custom css sample post.
 */
.rubik-cube-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*
 * Flexbox samples
 */
.flex-row {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: black;
    color: black;
}

.flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: black;
    color: black;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    height: 17em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: black;
    color: black;
}

/*
 * Flexbox align-items and justify-content options.
 */
.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

#yummo-button {
    background-color: #00b0ff;
    color: black;
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    padding: 0.5em;
    border-radius: 0.25em;
}

#yummo-button:hover {
    background-color: #f7346d;
    color: black;
}