.dark-theme .collapsible { background-color: #eceff1; color: #020c2a; font-family: "Red Hat Mono", monospace; }
.dark-theme .collapsible.active { background-color: #767879; color: #FFFFFF; }
.dark-theme .collapsible:hover { background-color: #17a3f7; }
.dark-theme .collapsible:is(.active, :hover) { background-color: #767879; }
.dark-theme .search-input { background-color: #020c2a; color: #eceff1; border-bottom-color: #17a3f7; }
.dark-theme ::-webkit-input-placeholder { /* Edge */ color: #94a5b0; }
.dark-theme :-ms-input-placeholder { /* Internet Explorer 10-11 */ color: #94a5b0; }
.dark-theme ::placeholder { color: #94a5b0; }
.dark-theme ::-webkit-search-cancel-button { background: magenta; }
.dark-theme { color: #eceff1; background-color: #020c2a; font-family: "Red Hat Text", serif; /* Code in text */ }
.dark-theme a { color: #65e9fc; }
.dark-theme h1, .dark-theme h2, .dark-theme h3, .dark-theme h4, .dark-theme h5, .dark-theme h6 { color: #17a3f7; font-family: "Open Sans", sans-serif, sans-serif; }
.dark-theme blockquote { border-left: 0.25rem solid #17a3f7; border-top-right-radius: .25rem; border-bottom-right-radius: .25rem; background-color: #000a12; }
.dark-theme hr { border-bottom: 1px dashed #17a3f7; }
.dark-theme pre, .dark-theme code { color: #c4feee; }
.dark-theme b, .dark-theme strong, .dark-theme em, .dark-theme abbr, .dark-theme cite, .dark-theme del, .dark-theme ins, .dark-theme sup, .dark-theme sub { color: white; }
.dark-theme p > code, .dark-theme blockquote > code, .dark-theme h1 > code, .dark-theme h2 > code, .dark-theme h3 > code, .dark-theme h4 > code, .dark-theme h5 > code, .dark-theme h6 > code, .dark-theme li > code, .dark-theme dd > code, .dark-theme td > code { color: #c4feee; }
.dark-theme ul li { color: #eceff1; }
.dark-theme ul ::marker { color: #17a3f7; }
.dark-theme ol li { color: #eceff1; }
.dark-theme ol ::marker { color: #17a3f7; }
.dark-theme th { border-top: 1px solid #17a3f7; }
.dark-theme th, .dark-theme td { border-bottom: 1px solid #17a3f7; border-left: 1px solid #17a3f7; border-right: 1px solid #17a3f7; }
.dark-theme thead { background-color: #17a3f7; color: #020c2a; font-family: "Open Sans", sans-serif; }
.dark-theme .yolo-header .theme-dot { color: #eceff1; }
.dark-theme .yolo-header .tag { color: #eceff1; }
.dark-theme .yolo-header .description { color: #17a3f7; }
.dark-theme .yolo-footer { color: #17a3f7; }
.dark-theme .lb-modal { background-color: #020c2a; }
.dark-theme .lb-close { color: #17a3f7; }
.dark-theme .lb-close:hover, .dark-theme .lb-close:focus { color: #eceff1; }
.dark-theme .lb-nav:hover { background-color: rgba(23, 163, 247, 0.3); }
.dark-theme .lb-prev:hover { color: #17a3f7; }
.dark-theme .lb-next:hover { color: #17a3f7; }
.dark-theme .back-to-top { color: #65e9fc; }
.dark-theme .code-header { background-color: #17a3f7; color: #020c2a; font-family: "Open Sans", sans-serif; }
.dark-theme .code-header:is(.copied, :hover) { background-color: #eceff1; }
.dark-theme .code-header.copied { background-color: #17a3f7; }
.dark-theme .pill { background-color: #eceff1; color: #020c2a; font-family: "Red Hat Mono", monospace; }
.dark-theme .pill:hover { background-color: #17a3f7; }
.dark-theme .sidebar { background-color: #010413; }
.dark-theme .primary-color { background-color: #020c2a; color: #eceff1; }
.dark-theme .secondary-color { background-color: #eceff1; color: #020c2a; }
.dark-theme .accent-color { background-color: #17a3f7; color: #020c2a; }
.dark-theme .link-color { background-color: #65e9fc; color: #020c2a; }
.dark-theme .code-background-color { background-color: #000a12; color: #c4feee; }
.dark-theme .code-color { background-color: #c4feee; color: #000a12; }
.dark-theme .sidebar-color { background-color: #010413; color: #eceff1; }
.dark-theme .entry-date { color: #17a3f7; }
.dark-theme .highlight { background: #000a12; color: #c4feee; }
.dark-theme .highlight .c { /* Comment */ color: #a0a0a0; }
.dark-theme .highlight .err { /* Error */ color: #ffab00; }
.dark-theme .highlight .k { /* Keyword */ color: #ff4081; }
.dark-theme .highlight .l { /* Literal */ color: #e040fb; }
.dark-theme .highlight .n { /* Name */ color: #e4e8eb; }
.dark-theme .highlight .o { /* Operator */ color: #609dfc; }
.dark-theme .highlight .p { /* Punctuation */ color: #e4e8eb; }
.dark-theme .highlight .cm { /* Comment.Multiline */ color: #a0a0a0; }
.dark-theme .highlight .cp { /* Comment.Preproc */ color: #a0a0a0; }
.dark-theme .highlight .c1 { /* Comment.Single */ color: #a0a0a0; }
.dark-theme .highlight .cs { /* Comment.Special */ color: #a0a0a0; }
.dark-theme .highlight .gd { /* Generic.Deleted */ color: #ffab00; }
.dark-theme .highlight .ge { /* Generic.Emph */ font-style: italic; }
.dark-theme .highlight .gh { /* Generic.Heading */ color: #e4e8eb; font-weight: bold; }
.dark-theme .highlight .gi { /* Generic.Inserted */ color: #4ffbfb; }
.dark-theme .highlight .gp { /* Generic.Prompt */ color: #a0a0a0; font-weight: bold; }
.dark-theme .highlight .gs { /* Generic.Strong */ font-weight: bold; }
.dark-theme .highlight .gu { /* Generic.Subheading */ color: #609dfc; font-weight: bold; }
.dark-theme .highlight .kc { /* Keyword.Constant */ color: #ff4081; }
.dark-theme .highlight .kd { /* Keyword.Declaration */ color: #ff4081; }
.dark-theme .highlight .kn { /* Keyword.Namespace */ color: #609dfc; }
.dark-theme .highlight .kp { /* Keyword.Pseudo */ color: #ff4081; }
.dark-theme .highlight .kr { /* Keyword.Reserved */ color: #ff4081; }
.dark-theme .highlight .kt { /* Keyword.Type */ color: #00e676; }
.dark-theme .highlight .ld { /* Literal.Date */ color: #4ffbfb; }
.dark-theme .highlight .m { /* Literal.Number */ color: #e040fb; }
.dark-theme .highlight .s { /* Literal.String */ color: #4ffbfb; }
.dark-theme .highlight .na { /* Name.Attribute */ color: #bd9ef8; }
.dark-theme .highlight .nb { /* Name.Builtin */ color: #e4e8eb; }
.dark-theme .highlight .nc { /* Name.Class */ color: #00e676; }
.dark-theme .highlight .no { /* Name.Constant */ color: #ffab00; }
.dark-theme .highlight .nd { /* Name.Decorator */ color: #609dfc; }
.dark-theme .highlight .ni { /* Name.Entity */ color: #e4e8eb; }
.dark-theme .highlight .ne { /* Name.Exception */ color: #ffab00; }
.dark-theme .highlight .nf { /* Name.Function */ color: #bd9ef8; }
.dark-theme .highlight .nl { /* Name.Label */ color: #e4e8eb; }
.dark-theme .highlight .nn { /* Name.Namespace */ color: #00e676; }
.dark-theme .highlight .nx { /* Name.Other */ color: #bd9ef8; }
.dark-theme .highlight .py { /* Name.Property */ color: #e4e8eb; }
.dark-theme .highlight .nt { /* Name.Tag */ color: #609dfc; }
.dark-theme .highlight .nv { /* Name.Variable */ color: #ffab00; }
.dark-theme .highlight .ow { /* Operator.Word */ color: #609dfc; }
.dark-theme .highlight .w { /* Text.Whitespace */ color: #e4e8eb; }
.dark-theme .highlight .mf { /* Literal.Number.Float */ color: #e040fb; }
.dark-theme .highlight .mh { /* Literal.Number.Hex */ color: #e040fb; }
.dark-theme .highlight .mi { /* Literal.Number.Integer */ color: #e040fb; }
.dark-theme .highlight .mo { /* Literal.Number.Oct */ color: #e040fb; }
.dark-theme .highlight .sb { /* Literal.String.Backtick */ color: #4ffbfb; }
.dark-theme .highlight .sc { /* Literal.String.Char */ color: #e4e8eb; }
.dark-theme .highlight .sd { /* Literal.String.Doc */ color: #a0a0a0; }
.dark-theme .highlight .s2 { /* Literal.String.Double */ color: #4ffbfb; }
.dark-theme .highlight .se { /* Literal.String.Escape */ color: #e040fb; }
.dark-theme .highlight .sh { /* Literal.String.Heredoc */ color: #4ffbfb; }
.dark-theme .highlight .si { /* Literal.String.Interpol */ color: #e040fb; }
.dark-theme .highlight .sx { /* Literal.String.Other */ color: #4ffbfb; }
.dark-theme .highlight .sr { /* Literal.String.Regex */ color: #4ffbfb; }
.dark-theme .highlight .s1 { /* Literal.String.Single */ color: #4ffbfb; }
.dark-theme .highlight .ss { /* Literal.String.Symbol */ color: #4ffbfb; }
.dark-theme .highlight .bp { /* Name.Builtin.Pseudo */ color: #e4e8eb; }
.dark-theme .highlight .vc { /* Name.Variable.Class */ color: #ffab00; }
.dark-theme .highlight .vg { /* Name.Variable.Global */ color: #ffab00; }
.dark-theme .highlight .vi { /* Name.Variable.Instance */ color: #ffab00; }
.dark-theme .highlight .il { /* Literal.Number.Integer.Long */ color: #e040fb; }
