/* Style the list */
.breadcrumbs {
  ul {
    padding: 1rem 0;
    list-style: none;
  }

  ul li {
    font-family: $family-secondary;
  }

  /* Display list items side by side */
  ul li {
    display: inline;
    font-size: $size-6;
  }

  /* Add a slash symbol (/) before/behind each list item */
  ul li+li:before {
    padding: 0.5rem;
    content: "/\00a0";
  }

  /* Add a color to all links inside the list */
  ul li a {
    text-decoration: none;
  }

  /* Add a color on mouse-over */
  ul li a:hover {
    text-decoration: underline;
  }
}
