input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  overflow: visible;
}

input[type="text"]:focus {
  //background-color: darken($dark-secondary-color, 20%);
  outline: none;
}

input[type="text"]:hover {
  //background-color: darken($dark-secondary-color, 30%);
  outline: none;
}

.search-input {
  padding: 0.4em 0.5em;
  display: block;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  width: 100%;
}

.light-theme {
  .search-input {
    background-color: $light-primary-color;
    color: $light-secondary-color;
    border-bottom-color: $light-accent-color;
  }
  ::-webkit-input-placeholder { /* Edge */
    color: $light-secondary-color;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $light-secondary-color;
  }

  ::placeholder {
    color: $light-secondary-color;
  }
}

.dark-theme {
  .search-input {
    background-color: $dark-primary-color;
    color: $dark-secondary-color;
    border-bottom-color: $dark-accent-color;
  }
  ::-webkit-input-placeholder { /* Edge */
    color: $dark-code-color;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $dark-code-color;
  }

  ::placeholder {
    color: $dark-secondary-color;
  }
}