@use "sass:color";

input[type="search"] {
  box-sizing: border-box;
  overflow: visible;
}

input[type="search"]:focus {
  outline: none;
}

input[type="search"]:hover {
  outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search-input {
  padding: 0.4em 0.5em;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  width: 100%;
  margin: 0;
}

.light-theme {
  .search-input {
    background-color: $light-primary-color;
    color: $light-secondary-color;
    border-bottom-color: $light-accent-color;
  }
  ::-webkit-input-placeholder { /* Edge */
    color: lighten($light-secondary-color, 30%);
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lighten($light-secondary-color, 30%);
  }
  ::placeholder {
    color: lighten($light-secondary-color, 30%);
  }
  ::-webkit-search-cancel-button {
    background: red;
  }
}

.dark-theme {
  .search-input {
    background-color: $dark-primary-color;
    color: $dark-secondary-color;
    border-bottom-color: $dark-accent-color;
  }
  ::-webkit-input-placeholder { /* Edge */
    color: darken($dark-secondary-color, 30%);
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: darken($dark-secondary-color, 30%);
  }
  ::placeholder {
    color: darken($dark-secondary-color, 30%);
  }
  ::-webkit-search-cancel-button {
    background: magenta;
  }
}