.search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  form {
    width: 100%;

    ::placeholder {
      opacity: 1;
    }
    ::placeholder:hover {
      opacity: 1;
    }

    input[type=text] {
      width: 100%;
      border-radius: .25rem;
      padding: 0.5rem;
      box-sizing: border-box;
    }

    input[type=text]:focus {
      outline: none !important;
    }

    input[type=text]:focus-visible {
      outline: none !important;
    }
  }

  .search-icon {
    margin-left: 0.5rem;
    cursor: pointer;
  }
}