{%- if include.category -%}
{%- assign posts = site.categories[include.category] | group_by_exp:"post", "post.date | date: '%Y %b'" -%}
{%- else -%}
{%- assign posts = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'" -%}
{%- endif -%}
{% for yearMonth in posts %}
<h4>{{ yearMonth.name }}</h4>
<ul>
    {% for post in yearMonth.items %}
    <li>
        <div>
            <span>
                <span class="entry-date">{{ post.date | date: site.data.settings.date_format }}</span>
                <a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a>
            </span>
        </div>
        <div>
            <span class="entry-description"><em>{{ post.description }}</em></span>
        </div>
    </li>
    {% endfor %}
</ul>
<a href="#" class="yolo-to-top">
    <span class="material-icons md-36">keyboard_double_arrow_up</span>
</a>
{% endfor %}