<div class="yolo-header">
{% if page.layout == 'home' %}
    {% if site.yummo.header.logo %}
    <a href="./">
        <img class="logo" alt="site-logo" src="{{ site.yummo.header.logo }}" title="Site Logo"/>
    </a>
    {% endif %}
{% endif %}
    <div id="theme-dot" class="theme-dot">&#9681;</div>
{% if page.layout == 'home' %}
    <h1 class="tag no-toc"><a href="./">{{ site.tag_text }}</a></h1>
    <h4 class="description no-toc">{{ site.description }}</h4>
{% elsif page.title == 'search' %}
    <h1 class="tag no-toc"><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <h4 class="description no-toc">
        {{ site.pages.size }} pages,
        {{ site.posts.size }} posts,
        {{ site.categories.size }} categories, {{ site.tags.size }} tags
    </h4>
{% else %}
    <h1 class="tag no-toc"><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <h4 class="description no-toc">{{ page.description }}</h4>
{% endif %}
    <p>
        <span>
            {% for tag in page.tags %}
            <a href="/tags/#{{ tag | slugify }}" class="pill">#{{ tag }}</a>
            {% endfor %}
        </span>
    </p>
{% if page.layout != 'home' %}
    <p>
        <span>
            <span class="tag-date">{{ page.date | date: site.yummo.date_format }}</span>
            {% if page.author %} {{ page.author | prepend: "by " }} {% endif %}
        </span>
    </p>
    <p>
        <a href="{{ '/' | relative_url }}"> {{ site.yummo.home_link }} </a>
    </p>
{% endif %}
{% if site.yummo.breadcrumbs %}
    {% include components/breadcrumbs.html %}
{% endif %}
{% if site.yummo.searchable %}
    {% include components/search.html %}
{% endif %}
</div>