<div class="home-list">
<ul>
{%- for item in include.collection -%}
    {%- if site.data.menu.settings.show_entry_header -%}
    <li class="yolo-menu-header">
    {%- if item.url -%}
        {%- if item.description -%}
        <span class="yolo-menu-title"><a href="{{ item.url }}">{{ item.title }}</a><span class="yolo-menu-description">{{ item.description }}</span></span>
        {%- else -%}
        <span class="yolo-menu-title"><a href="{{ item.url }}">{{ item.title }}</a></span>
        {%- endif -%}
    {%- else -%}
        {%- if item.description -%}
        <span class="yolo-menu-title">{{ item.title }}<span class="yolo-menu-description">{{ item.description }}</span></span>
        {%- else -%}
        <span class="yolo-menu-title">{{ item.title }}</span>
        {%- endif -%}
    {%- endif -%}
    </li>
    {%- endif -%}
    {%- if item.post_list -%}
        {%-
            include components/posts_list.html
            category=item.post_list.category
            limit=item.post_list.limit
            show_more=item.post_list.show_more
            show_more_text=item.post_list.show_more_text
            show_more_url=item.post_list.show_more_url
        -%}
    {%- endif -%}
    {%- if item.entries -%}
        {%- include components/home_menu.html collection=item.entries -%}
    {%- endif -%}
{%- endfor -%}
</ul>
</div>