<div class="columns is-mobile">
    <div class="column is-narrow">
        <span class="entry-date">2022-09-08</span>
    </div>
    <div class="column is-narrow">
        <span>
            <a href="/samples/code-snippets/">samples/code-snippets</a>
        </span>
    </div>
    <div class="column">
        <span class="entry-description">Syntax highlighting and snippet copy</span>
    </div>
</div>
<div class="columns is-mobile">
    <div class="column is-narrow">
        <span class="entry-date">2022-09-07</span>
    </div>
    <div class="column is-narrow">
        <span>
            <a href="/samples/prezos/">samples/prezos</a>
        </span>
    </div>
    <div class="column">
        <span class="entry-description">Embed Google Slide prezos</span>
    </div>
</div>
<div class="columns is-mobile">
    <div class="column is-narrow">
        <span class="entry-date">2022-09-06</span>
    </div>
    <div class="column is-narrow">
        <span>
            <a href="/samples/videos/">samples/videos</a>
        </span>
    </div>
    <div class="column">
        <span class="entry-description">Embed YouTube Videos</span>
    </div>
</div>

