<div class="columns is-mobile">
    <div class="column">
        <div class="yolo-post-item">
            <span>
                <span class="entry-date">2022-09-08</span>
                <a href="/samples/code-snippets/">samples/code-snippets</a>
                <span class="entry-description">Syntax highlighting and snippet copy</span>
            </span>
        </div>
        <div class="yolo-post-item">
            <span>
                <span class="entry-date">2022-09-07</span>
                <a href="/samples/prezos/">samples/prezos</a>
                <span class="entry-description">Embed Google Slide prezos</span>
            </span>
        </div>
        <div class="yolo-post-item">
            <span>
                <span class="entry-date">2022-09-06</span>
                <a href="/samples/videos/">samples/videos</a>
                <span class="entry-description">Embed YouTube videos</span>
            </span>
        </div>
        <div class="yolo-post-item">
            <span>
                <span class="entry-date">2022-09-04</span>
                <a href="/samples/lightbox/">samples/lightbox</a>
                <span class="entry-description">Lightboxes, so 2004 but oh so cool</span>
            </span>
        </div>
        <div class="yolo-post-item">
            <span>
                <span class="entry-date">2022-09-03</span>
                <a href="/samples/image-grid/">samples/image-grid</a>
                <span class="entry-description">Image Grid, ooh-la-la</span>
            </span>
        </div>
        <div class="yolo-post-item">
            <span>
                <span class="entry-date">2022-09-02</span>
                <a href="/samples/styled-images/">samples/styled-images</a>
                <span class="entry-description">Styled images</span>
            </span>
        </div>
        <div class="yolo-post-item">
            <span>
                <span class="entry-date">2022-09-01</span>
                <a href="/samples/markdown/">samples/markdown</a>
                <span class="entry-description">Markdown sampler</span>
            </span>
        </div>
    </div>
</div>

