<div id="sidebar" class="sidebar">
    {% if site.data.settings.logo %}
    <div class="sidebar-logo">
        <a href="./">
            <img class="is-circle-128"
                 alt="sidebar-logo"
                 src="{{ site.data.settings.logo }}"
                 title="Sidebar Logo"/>
        </a>
    </div>
    {% endif %}
    {% if page.layout == 'home' %}
    <div class="yolo-menu">
        {%- include components/menu_item.html collection=site.data.menu.sidebar.entries -%}
    </div>
    {% else %}
    <div id="toc-sidebar"></div>
    {% endif %}
</div>