---
layout: default
---

<ol class="pill-group">
    {% assign tags_max = 0 %}
    {% for tag in site.tags %}
    {% if tag[1].size > tags_max %}
    {% assign tags_max = tag[1].size %}
    {% endif %}
    {% endfor %}
    {% for i in (1..tags_max) reversed %}
    {% for tag in site.tags %}
    {% if tag[1].size == i %}
    <li>
        <a href="/tags/#{{ tag[0] | slugify }}" class="pill">#{{ tag[0] }}&nbsp;<span>{{ i }}</span></a>
    </li>
    {% endif %}
    {% endfor %}
    {% endfor %}
</ol>

{% assign tags_max = 0 %}
{% for tag in site.tags %}
{% if tag[1].size > tags_max %}
{% assign tags_max = tag[1].size %}
{% endif %}
{% endfor %}

{% for i in (1..tags_max) reversed %}
{% for tag in site.tags %}
{% if tag[1].size == i %}
<section id="{{ tag[0] | slugify | downcase }}">
    <h4 class="entry-title">#{{ tag[0] }}</h4>
    <ul class="no-bullets">
        {% for post in tag.last %}
        <li>
            <span>
                <span class="entry-date">{{ post.date | date: site.yummo.date_format }}</span>
                <a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a>
                <span class="entry-description">{{ post.description }}</span>
            </span>
        </li>
        {% endfor %}
    </ul>
    <a href="#" class="back-to-top">↑↑↑</a>
</section>
{% endif %}
{% endfor %}
{% endfor %}