---
layout: default
---
{%- assign posts = site.categories["weekly"] | group_by_exp:"post", "post.date | date: '%Y %b'" -%}
{% for yearMonth in posts %}
<h4>{{ yearMonth.name }}</h4>
<ul>
    {% for post in yearMonth.items %}
    <li>
        <span>
          <span class="entry-date">{{ post.date | date: site.yummo.date_format }}</span>
          <a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a>
          <span class="entry-description">{{ post.description }}</span>
        </span>
    </li>
    {% endfor %}
</ul>
<a href="#" class="back-to-top">↑↑↑</a>
{% endfor %}
