// ----------------------------------------------------------------------------
// sandbox theme
// ----------------------------------------------------------------------------
// light mode colors
$light-primary-color: #92b7f1;
$light-secondary-color: #190841;
$light-accent-color: #4113a6;
$light-link-color: #2ba0b1;
$light-code-background-color: #aec7f0;
$light-code-color: #251a54;

// dark mode colors
$dark-primary-color: #190841;
$dark-secondary-color: #92b7f1;
$dark-accent-color: #598ffe;
$dark-link-color: #65e9fc;
$dark-code-background-color: #251a54;
$dark-code-color: #947acd;

// fonts
$family-primary: "Source Code Pro", monospace;
$family-secondary: "Raleway", sans-serif;
$family-monospace: "Red Hat Mono", monospace;